////////////////////////////////////////////////////////////////////////////////

// User defined
COMMON = ../../_COMMON_
PDSDK = ../../_SDK_/pure-data/src
PDINCLUDES = $(PDSDK)
PRODUCTS = ../Products

////////////////////////////////////////////////////////////////////////////////

// Architectures
ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH = NO

// Deployment
DEPLOYMENT_LOCATION = YES
DSTROOT = $(PRODUCTS)
INSTALL_PATH = /

// Linking
OTHER_LDFLAGS = -undefined dynamic_lookup

// Packaging
EXECUTABLE_EXTENSION = pd_darwin
EXECUTABLE_PREFIX =
INFOPLIST_FILE = $(COMMON)/Info.plist
PRODUCT_NAME = $(PROJECT_NAME)

// Search Paths
USER_HEADER_SEARCH_PATHS = $(PDINCLUDES)

// Apple LLVM 7.1 - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = "TARGET_IS_PD = 1"

// Apple LLVM 7.1 - Warnings - All languages
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

////////////////////////////////////////////////////////////////////////////////
